<h1 id="network-security">Network Security</h1>
<h1 id="projecte-de-seguretat-en-xarxa.">Projecte de seguretat en
xarxa.</h1>
<h2 id="índex">Índex</h2>
<ul>
<li><a href="#item1">Introducció</a></li>
<li><a href="#item2">Objectius</a></li>
<li><a href="#item3">RADIUS Server</a>
<ul>
<li>Què és?</li>
<li>Implementació.</li>
</ul></li>
<li><a href="#item4">OpenVAS</a>
<ul>
<li>Què és?</li>
<li>Instal·lació.</li>
<li>Ús de l’eina.</li>
</ul></li>
<li><a href="#item5">DDNS</a>
<ul>
<li>Què és?</li>
<li>Implementació.</li>
<li>Habilitar accés extern.</li>
</ul></li>
<li><a href="#item6">Conclusions</a></li>
<li><a href="#item7">Bibliografia</a></li>
</ul>
<p><a name="item1"></a> ## Introducció al projecte Aquest projecte
consisteix en posar al dia i fer més segura una xarxa. L’objectiu es
tenir-ne el control i el monitoratge extern i intern, implementar un
mètode d’autenticació a la wifi, detectar intrusions etc</p>
<p>Per fer això farem servir les eines <strong>DDNS</strong>,
<strong>OPENVAS</strong> i <strong>RADIUS Server</strong>.</p>
<p>Si el projecte funciona m’agradaria implementar-ho en un entorn real
com una oficina o en un entorn de cases amb un accés a internet
centralitzat.</p>
<p><a name="item2"></a> ## Objectius del projecte Posar al dia i fer més
segura una xarxa d’una oficina. Tenir el control per poder fer un
monitoratge extern i intern, implementar un mètode d’autenticació per
accedir a la wifi amb els propis usuaris d’un domini. Poder escanejar en
busca de vulnerabilitats els dispositius connectats a la xarxa.
<a href="https://imgbb.com/"><img src="https://i.ibb.co/LSdGFMp/Oficina.png" alt="Oficina" border="0"></a></p>
<p><a name="item3"></a> ## RADIUS Server ### Què és un RADIUS Server? La
nomenclatura “RADIUS” fa referència a Remote Authentication Dial-In User
Server, és un protocol d’autenticació i autorització per a aplicacions
d’accés a la xarxa. Utilitza el port 1812 per a l’autenticació i
autorització d’usuaris.
<a href="https://imgbb.com/"><img src="https://i.ibb.co/jymKDg7/radius.png" alt="radius" border="0"></a></p>
<p>L’ús més freqüent es per a accedir a xarxes wifi, també es pot fer
servir per a accedir a VPN i a altres aplicatius de xarxa.</p>
<h3 id="com-implementar-radius-a-la-teva-xarxa">Com implementar RADIUS a
la teva xarxa:</h3>
<h4 id="installació">Instal·Lació</h4>
<p>RADIUS es pot instal·lar de forma molt senzilla, hem de seguir els
passos següents amb root:</p>
<blockquote>
<p>apt update<br />
apt install freeradius<br />
systemctl start freeradius<br />
systemctl enable freeradius</p>
</blockquote>
<p>Si tenim firewall ens assegurem que no ens bloquegi el port &gt; ufw
allow 1812</p>
<h4 id="configuració-i-integració-amb-ldap">Configuració i integració
amb LDAP</h4>
<p>Un dels avantatges de RADIUS és que té moltes opcions per
configurar-lo i gracies a la seva modularitat, amb l’instal·lació
d’alguns mòduls es pot integrar amb LDAP, Active Directory, MySQL,
PostgreSQL i fins i tot Oracle i altres BBDD.</p>
<p>El fitxer de configuració per defecte es troba en el directori
“/etc/freeradius/3.0/radiusd.conf”</p>
<blockquote>
<p>vim /etc/freeradius/3.0/radiusd.conf</p>
</blockquote>
<p>En aquest fitxer mateix habilitem la línia que activa el mòdul
LDAP:</p>
<blockquote>
<p>Authorize {<br />
#<br />
# The ldap module will set Auth-Type to LDAP if it has not already been
set<br />
ldap</p>
</blockquote>
<p>definim al fitxer “/etc/freeradius/3.0/clients.conf” la xarxa o
xarxes on permetrem autenticar els clients.</p>
<blockquote>
<p>vim /etc/freeradius/3.0/clients.conf</p>
</blockquote>
<p>Li definim per exemple:</p>
<blockquote>
<p>client 192.168.0.0/24 { secret = clau-acces-xarxa shortname = Nombre
de la xarxa privada }</p>
</blockquote>
<p>Per fer que RADIUS estigui actiu en el següent inici del sistema i en
tots els nivells d’arrencada: &gt;chkconfig radiusd on</p>
<h4 id="configuració-pa-wifi">Configuració PA Wifi</h4>
<p>Si volem que RADIUS autentiqui les connexions wifi hem de connectar a
la xarxa un router o punt d’accés compatible amb la versió enterprise de
wpa2 o wpa3.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/qCwTWFQ/1610508898-469-Como-configurar-WPA2-Enterprise-en-su-red.png" alt="1610508898-469-Como-configurar-WPA2-Enterprise-en-su-red" border="0"></a></p>
<p>A la Configuració de seguretat de la wifi en el mode
wpa2/3-enterprise hem d’introduir la IP del servidor RADIUS, el port, i
el secret que hem definit. Fet això, ens podrem autenticar amb els
usuaris LDAP per wifi.</p>
<h4 id="verificació-del-correcte-funcionament">Verificació del correcte
funcionament</h4>
<p>Per verificar el correcte funcionament podem provar a connectar-nos a
la wifi des d’un dispositiu i comprovar que ens podem connectar amb les
nostres credencials o fer la següent comanda per fer una request al
servidor. &gt;radtest usuari “passwd usuari ldap” <strong>&lt; ip
servidor &gt;</strong> 2 <strong>&lt; secret compartit &gt;</strong></p>
<p>La resposta hauria de ser aixi: &gt;Sending Access-Request of id 191
to 192.168.0.1:1812<br />
User-Name = “usuari-ldap”<br />
User-Password = “clau-acces-ldap”<br />
NAS-IP-Address = nom-servidor<br />
NAS-Port = 2<br />
rad_recv: Access-Accept packet from host 192.168.0.1:1812, id=191,
length=20</p>
<p><a name="item4"></a> ## OpenVAS ### Què és OpenVAS? Openvas es el nom
pel que es coneix l’actual Greenbone Vulnerability Management (GVM). És
un escàner de vulnerabilitats que pot detectar problemes de diferents
tipus, tant de baix risc per a usuaris com vulnerabilitats més greus en
equips i dispositius de xarxa. Compta amb més de 50.000 “Network
vulnerability tests” (NVTs) i dades de vulnerabilitats conegudes i
alimentades diàriament per l’empresa propietària i per part de la
comunitat i els seus experts, a través d’una interfície gràfica web
podem fer els testos i gestionar l’eina.</p>
<h3 id="installació-gvm-21.04-a-debian-11">Instal·lació GVM 21.04 a
Debian 11:</h3>
<h4 id="prerequisits-mínims-recomanats">Prerequisits mínims
recomanats:</h4>
<ul>
<li>4 GB de RAM</li>
<li>4 nuclis de CPU</li>
<li>8 GB d’espai en disc</li>
</ul>
<h4 id="actualització-del-sistema">Actualització del sistema:</h4>
<p>Per començar hem d’actualitzar el sistema.</p>
<blockquote>
<p>apt update; apt upgrade</p>
</blockquote>
<h4 id="creem-lusuari-gvm-al-sistema.">Creem l’usuari GVM al
sistema.</h4>
<blockquote>
<p>useradd -r -d /opt/gvm -c “GVM User” -s /bin/bash gvm</p>
</blockquote>
<p>Creem el directori anteriorment especificat definint com a usuari i
grup propietari “gvm”.</p>
<blockquote>
<p>mkdir /opt/gvm &amp;&amp; chown gvm: /opt/gvm</p>
</blockquote>
<h4 id="installem-les-eines-requerides">Instal·lem les eines
requerides</h4>
<p>Instal·lem eines i dependències que es requereixen per instal·lar
GVM.</p>
<blockquote>
<p>apt install gcc g++ make bison flex libksba-dev curl redis
libpcap-dev cmake git pkg-config libglib2.0-dev libgpgme-dev nmap
libgnutls28-dev uuid-dev libssh-gcrypt-dev libldap2-dev gnutls-bin
libmicrohttpd-dev libhiredis-dev zlib1g-dev libxml2-dev libnet-dev
libradcli-dev clang-format libldap2-dev doxygen gcc-mingw-w64
xml-twig-tools libical-dev perl-base heimdal-dev libpopt-dev
libunistring-dev graphviz libsnmp-dev python3-setuptools
python3-paramiko python3-lxml python3-defusedxml python3-dev gettext
python3-polib xmltoman python3-pip texlive-fonts-recommended
texlive-latex-extra –no-install-recommends xsltproc sudo vim rsync
-y</p>
</blockquote>
<h5 id="installem-yarn">Instal·lem Yarn</h5>
<p>Instal·lem Yarn JavaScript package manager</p>
<blockquote>
<p>curl -sL https://dl.yarnpkg.com/debian/pubkey.gpg | gpg –dearmor |
sudo tee /usr/share/keyrings/yarnkey.gpg &gt;/dev/null</p>
</blockquote>
<blockquote>
<p>echo “deb [signed-by=/usr/share/keyrings/yarnkey.gpg]
https://dl.yarnpkg.com/debian stable main” | sudo tee
/etc/apt/sources.list.d/yarn.list</p>
</blockquote>
<blockquote>
<p>apt update;apt upgrade</p>
</blockquote>
<blockquote>
<p>apt install yarn -y</p>
</blockquote>
<h5 id="installem-postgresql">Instal·lem PostgreSQL</h5>
<blockquote>
<p>echo “deb http://apt.postgresql.org/pub/repos/apt $(lsb_release
-cs)-pgdg main” &gt; /etc/apt/sources.list.d/pgdg.list curl -sL
https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo tee
/etc/apt/trusted.gpg.d/pgdg.asc &gt;/dev/null apt update apt install
postgresql-11 postgresql-contrib-11 postgresql-server-dev-11 -y</p>
</blockquote>
<h5 id="configurem-usuari-i-base-de-dades-postgresql">Configurem usuari
i base de dades postgreSQL</h5>
<blockquote>
<p>sudo -Hiu postgres createuser gvm createdb -O gvm gvmd</p>
</blockquote>
<p>Assignem rols.<br />
&gt;psql gvmd create role dba with superuser noinherit; grant dba to
gvm; exit</p>
<p>Reiniciem postgreSQL. &gt;systemctl restart postgresql<br />
&gt;systemctl enable postgresql</p>
<p>Autoritzem l’usuari gvm a instal·lar amb permisos de sudo. &gt;echo
“gvm ALL = NOPASSWD: $(which make) install” &gt; /etc/sudoers.d/gvm</p>
<h4 id="installem-gvm-21.04">Instal·lem GVM 21.04</h4>
<p>Entrem a l’usuari creat anteriorment.</p>
<blockquote>
<p>su - gvm</p>
</blockquote>
<p>Creem un directori on descarregar els fitxers d’instal·lació.
&gt;mkdir gvm-source</p>
<h5 id="descarreguem-els-fitxers-dinstallació">Descarreguem els fitxers
d’instal·lació</h5>
<blockquote>
<p>cd gvm-source</p>
</blockquote>
<blockquote>
<p>git clone -b stable –single-branch
https://github.com/greenbone/gvm-libs.git;<br />
git clone -b main –single-branch
https://github.com/greenbone/openvas-smb.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/openvas.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/ospd.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/ospd-openvas.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/gvmd.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/gsa.git;<br />
git clone -b stable –single-branch
https://github.com/greenbone/gsad.git</p>
</blockquote>
<p>Hem de ser al directori “/opt/gvm/gvm-source” i si fem un ls -1 ens
han de sortir les carpetes següents:</p>
<ul>
<li>gsa</li>
<li>gvmd</li>
<li>gvm-libs</li>
<li>openvas</li>
<li>openvas-smb</li>
<li>ospd</li>
<li>openvas-smb</li>
</ul>
<h5 id="comencem-amb-la-installació">Comencem amb la instal·lació</h5>
<p>Des del directori “/opt/gvm/gvm-source” instal·lem les llibreries de
GVM:</p>
<blockquote>
<p>cd gvm-libs<br />
mkdir build &amp;&amp; cd build<br />
cmake ..<br />
make<br />
sudo make install</p>
</blockquote>
<p>Instal·lem l’escàner compatible amb windows d’openVAS
(openvas-smb):</p>
<blockquote>
<p>cd ../../openvas-smb/<br />
mkdir build &amp;&amp; cd build<br />
cmake ..<br />
make<br />
sudo make install</p>
</blockquote>
<p>Instal·lem l’escàner openVAS:</p>
<blockquote>
<p>cd ../../openvas<br />
[ -d build ] || mkdir build &amp;&amp; cd build<br />
cmake ..<br />
make<br />
sudo make install</p>
</blockquote>
<h5 id="configurem-openvas">Configurem openVAS</h5>
<p>La informació d’escaneig de host està guardada temporalment al
servidor Redis.</p>
<p>Tornem a root</p>
<blockquote>
<p>exit</p>
</blockquote>
<p>Creem la memòria cau a les biblioteques instal·lades</p>
<blockquote>
<p>ldconfig</p>
</blockquote>
<p>La configuració del servidor redis es troba a
“/etc/redis/redis.conf”.</p>
<p>A continuació, copiem el fitxer de configuració Redis de l’escàner
OpenVAS des del directori font d’OpenVAS, redis-openvas.conf, al
directori de configuració de Redis &gt; cp
/opt/gvm/gvm-source/openvas/config/redis-openvas.conf /etc/redis/</p>
<p>Canviem el propietari: &gt;chown redis:redis
/etc/redis/redis-openvas.conf</p>
<p>Actualitzem el directori al socket Redis Unix a
/etc/openvas/openvas.conf mitjançant el paràmetre db_address.</p>
<p>Per obtenir el directori al socket fem la comanda: &gt;grep
unixsocket /etc/redis/redis-openvas.conf</p>
<p>Que ens donarà una sortida com, per exemple: &gt;unixsocket
<strong>/run/redis-openvas/redis.sock</strong> unixsocketperm 770</p>
<p>Un cop obtenim el directori fem la comanda: &gt;echo
“<strong>db_address = /run/redis-openvas/redis.sock</strong>” &gt;
/etc/openvas/openvas.conf</p>
<p>Afegim l’usuari gvm al grup redis.</p>
<blockquote>
<p>usermod -aG redis gvm</p>
</blockquote>
<h5 id="actualitzem-els-network-vulnerability-tests-nvts">Actualitzem
els Network Vulnerability Tests (NVTs)</h5>
<p>Ens assegurem que l’usuari gvm pot escriure al directori de les
llibreries d’OpenVAS. &gt;chown -R gvm: /var/lib/openvas/</p>
<p>També li donem permisos per a executar OpenVAS amb sudo<br />
&gt;echo “gvm ALL = NOPASSWD: $(which openvas)” &gt;&gt;
/etc/sudoers.d/gvm</p>
<p>Procedim a actualitzar els NVTs amb l’usuari gvm</p>
<blockquote>
<p>su - gvm<br />
greenbone-nvt-sync –rsync</p>
</blockquote>
<p>Després d’actualitzar la informació pugem els tests al servidor
redis.</p>
<blockquote>
<p>sudo openvas –update-vt-info</p>
</blockquote>
<h5 id="installem-gvm">Instal·lem GVM</h5>
<blockquote>
<p>cd gvm-source/gvmd<br />
mkdir build &amp;&amp; cd build<br />
cmake ..<br />
make<br />
sudo make install</p>
</blockquote>
<h5 id="installem-greenbone-security-assistant">Instal·lem “Greenbone
Security Assistant”</h5>
<p>És la interfície web gràfica que farem servir. &gt;cd ../../gsa<br />
rm -rf build<br />
yarn<br />
yarn build</p>
<p>El servidor web de greenbone. &gt;cd ../gsad mkdir build &amp;&amp;
cd build cmake .. make sudo make install</p>
<p>Després copiem les configuracions de la interfície web</p>
<blockquote>
<p>[[ -d /usr/local/share/gvm/gsad/web ]] || mkdir -p
/usr/local/share/gvm/gsad/web</p>
</blockquote>
<p>. &gt;chown -R gvm: /usr/local/share/gvm/gsad/web</p>
<p>. &gt;cp -rp /opt/gvm/gvm-source/gsa/build/*
/usr/local/share/gvm/gsad/web</p>
<h5 id="mantenir-les-dades-actualitzades-completament">Mantenir les
dades actualitzades completament</h5>
<p>Tornem a root.</p>
<blockquote>
<p>exit</p>
</blockquote>
<p>. &gt;chown -R gvm: /var/lib/gvm/</p>
<p>Per mantenir actualitzades les dades hauríem d’executar les següents
ordres regularment:</p>
<blockquote>
<p>sudo -u gvm greenbone-feed-sync –type GVMD_DATA</p>
</blockquote>
<p>. &gt;sudo -u gvm greenbone-feed-sync –type SCAP</p>
<p>. &gt;sudo -u gvm greenbone-feed-sync –type CERT</p>
<h5 id="generem-els-certificats-de-gvm">Generem els certificats de
GVM</h5>
<p>sudo -u gvm gvm-manage-certs -a</p>
<h5 id="installem-osp-open-scanner-protocol">Instal·lem OSP (Open
Scanner Protocol)</h5>
<p>Serveix per a tenir els diferents escàners de seguretat i el control
centralitzats amb Greenbone.</p>
<blockquote>
<p>su - gvm<br />
pip3 install wheel<br />
pip3 install python-gvm gvm-tools cd /opt/gvm/gvm-source/ospd<br />
python3 -m pip install .<br />
cd /opt/gvm/gvm-source/ospd-openvas<br />
python3 -m pip install .</p>
</blockquote>
<h5 id="creem-la-unitat-de-systemd-per-openvas-ospd">Creem la unitat de
systemd per OpenVAS OSPD</h5>
<blockquote>
<p>cat &gt; /etc/systemd/system/ospd-openvas.service &lt;&lt;
‘EOL’<br />
[Unit] Description=OSPd Wrapper for the OpenVAS Scanner (ospd-openvas)
After=network.target networking.service redis-server@openvas.service
postgresql.service Wants=redis-server@openvas.service
ConditionKernelCommandLine=!recovery</p>
</blockquote>
<blockquote>
<p>[Service] ExecStartPre=-rm -rf /var/run/gvm/ospd-openvas.pid
/var/run/gvm/ospd-openvas.sock Type=simple User=gvm Group=gvm
RuntimeDirectory=gvm
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/gvm/bin:/opt/gvm/sbin:/opt/gvm/.local/bin
ExecStart=/opt/gvm/.local/bin/ospd-openvas<br />
–pid-file /var/run/gvm/ospd-openvas.pid<br />
–log-file /var/log/gvm/ospd-openvas.log<br />
–lock-file-dir /var/run/gvm -u /var/run/gvm/ospd-openvas.sock
RemainAfterExit=yes</p>
</blockquote>
<blockquote>
<p>[Install] WantedBy=multi-user.target EOL</p>
</blockquote>
<p>Canviem el propietari i grup de les carpetes a gvm<br />
&gt;[[ -d /var/run/gvm ]] || mkdir /var/run/gvm &gt; chown -R gvm:
/var/run/gvm /var/log/gvm</p>
<p>Si volem comprovar que s’ha creat sense cap problema:</p>
<blockquote>
<p>systemctl daemon-reload systemctl enable –now ospd-openvas systemctl
status ospd-openvas.service</p>
</blockquote>
<h5 id="modifiquem-lunitat-de-systemctl-de-gvm">Modifiquem l’unitat de
systemctl de GVM</h5>
<blockquote>
<p>cp /lib/systemd/system/gvmd.service{,.bak}</p>
</blockquote>
<p>. &gt;cat &gt; /lib/systemd/system/gvmd.service &lt;&lt; ‘EOL’ [Unit]
Description=Greenbone Vulnerability Manager daemon (gvmd)
After=network.target networking.service postgresql.service
ospd-openvas.service Wants=postgresql.service ospd-openvas.service
Documentation=man:gvmd(8) ConditionKernelCommandLine=!recovery</p>
<blockquote>
<p>[Service] Type=forking User=gvm Group=gvm RuntimeDirectory=gvmd
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/gvm/bin:/opt/gvm/sbin:/opt/gvm/.local/bin
ExecStart=/usr/local/sbin/gvmd
–osp-vt-update=/var/run/gvm/ospd-openvas.sock Restart=always
TimeoutStopSec=10</p>
</blockquote>
<blockquote>
<p>[Install] WantedBy=multi-user.target EOL</p>
</blockquote>
<p>Si volem comprovar que s’ha creat sense cap problema:</p>
<blockquote>
<p>systemctl daemon-reload systemctl enable –now gvmd systemctl status
gvmd</p>
</blockquote>
<h5 id="creem-la-unitat-de-systemd-per-gsa">Creem la unitat de systemd
per GSA</h5>
<blockquote>
<p>cp /lib/systemd/system/gsad.service{,.bak}</p>
</blockquote>
<p>.</p>
<blockquote>
<p>cat &gt; /lib/systemd/system/gsad.service &lt;&lt; ‘EOL’ [Unit]
Description=Greenbone Security Assistant daemon (gsad)
Documentation=man:gsad(8) https://www.greenbone.net After=network.target
gvmd.service Wants=gvmd.service<br />
[Service] Type=simple User=gvm Group=gvm RuntimeDirectory=gsad
PIDFile=/var/run/gsad/gsad.pid
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/opt/gvm/bin:/opt/gvm/sbin:/opt/gvm/.local/bin
ExecStart=/usr/bin/sudo /usr/local/sbin/gsad -k
/var/lib/gvm/private/CA/clientkey.pem -c /var/lib/gvm/CA/clientcert.pem
RemainAfterExit=yes<br />
[Install] WantedBy=multi-user.target EOL</p>
</blockquote>
<p>Habilitem l’usuari GVM a executar gsad amb sudo.</p>
<blockquote>
<p>echo “gvm ALL = NOPASSWD: $(which gsad)” &gt;&gt;
/etc/sudoers.d/gvm</p>
</blockquote>
<p>Si volem comprovar que s’ha creat sense cap problema:</p>
<blockquote>
<p>systemctl daemon-reload systemctl enable –now gsad systemctl status
gsad</p>
</blockquote>
<h5 id="creem-i-registrem-el-nostre-escaner-de-openvas">Creem i
registrem el nostre escaner de OpenVAS</h5>
<blockquote>
<p>sudo -u gvm gvmd –create-scanner=“Kifarunix-demo OpenVAS
Scanner”<br />
–scanner-type=“OpenVAS” –scanner-host=/var/run/gvm/ospd-openvas.sock</p>
</blockquote>
<p>Per a verificar que s’ha creat correctament</p>
<blockquote>
<p>sudo -u gvm gvmd –get-scanners</p>
</blockquote>
<blockquote>
<p>sudo -u gvm gvmd –verify-scanner=“codi de l’escaner”</p>
</blockquote>
<h5 id="usuari-administrador-de-gvm">Usuari administrador de GVM</h5>
<blockquote>
<p>sudo -u gvm gvmd –create-user admin</p>
</blockquote>
<p>Si vols crear un altre usuari: &gt;sudo -u gvm gvmd –create-user
<strong>USERNAME</strong> –password=<strong>PASSWORD</strong></p>
<p>Per a modificar una contrasenya: &gt;sudo -u gvm gvmd
–user=&lt;<strong>USERNAME</strong>&gt;
–new-password=&lt;<strong>PASSWORD</strong>&gt;</p>
<h5 id="definim-el-propietari">Definim el propietari</h5>
<blockquote>
<p>sudo -u gvm gvmd –get-users –verbose</p>
</blockquote>
<p>En la següent comanda posem el valor de la comanda anterior. &gt;sudo
-u gvm gvmd –modify-setting 78eceaec-3385-11ea-b237-28d24461215b –value
<strong>bb3bd8a6-6b77-464f-9f9b-1afe4835be15</strong></p>
<h5 id="accedir-a-la-interfície">Accedir a la interfície:</h5>
<p>Ara que ja ho tenim tot llest ens assegurem que podem accedir a la
interfície posant l’adreça del servidor a un navegador extern o accedint
a localhost si ho fem des del nostre. Si hem realitzat la configuració
de DDNS i DMZ o NAT ja hauríem de poder accedir des de xarxes
externes.</p>
<p>Si tenim firewall hauríem de fer la següent comanda al servidor:
&gt;ufw allow 443/tcp</p>
<h3 id="utilitzar-openvas">Utilitzar Openvas</h3>
<p>Primer de tot, hem d’accedir a la interfície tal i com s’ha explicat
anteriorment.<br />
Allà hi introduïm les credencials de l’usuari que havíem creat.</p>
<p><a href="https://ibb.co/TMnh4Yh"><img src="https://i.ibb.co/v4rz3Vz/Screenshot-from-2022-05-16-16-30-25.png" alt="Screenshot-from-2022-05-16-16-30-25" border="0"></a></p>
<p>Un cop entrem, a la pagina principal (Dashboard) ens sortiran 4
gràfics, el primer de la gravetat de la seguretat de les tasques
realitzades i el segon de l’estat de les tasques realitzades, aquests
haurien de sortir en blanc, ja que encara no hem realitzat cap test. El
tercer i el quart ens informen de les estadístiques dels NVTs que tenim
importats. Si algun d’aquests dos ens surt en blanc és que no hem
importat bé els tests i els hauriem de repetir.</p>
<p><a href="https://ibb.co/QpRPcsz"><img src="https://i.ibb.co/RYm3SLZ/Screenshot-from-2022-05-16-16-34-22.png" alt="Screenshot-from-2022-05-16-16-34-22" border="0"></a></p>
<h4 id="definir-els-dispositius-per-analitzar">Definir els dispositius
per analitzar</h4>
<p>EL primer que hauríem de configurar són els dispositius que volem
atacar, anant a la pestanya “Configuration” a l’apartat de “Targets”.
Allà podem definir varies IP de forma individual o en rangs per
escanejar i descobrir vulnerabilitats dels dispositius que desitgem. Per
fer-ho hem de clicar al cuadrat amb una estrella al marge i afegir
l’objectiu on podem definir els ports que volem escanejar d’entre altres
coses.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/gMGBdtF/Screenshot-from-2022-05-16-16-43-48.png" alt="Screenshot-from-2022-05-16-16-43-48" border="0"></a></p>
<p>En el meu cas he preferit definir un objectiu per cada IP i màquina
de forma individual.</p>
<p><a href="https://ibb.co/HHTG93N"><img src="https://i.ibb.co/Ny2WGb1/Screenshot-from-2022-05-16-16-37-34.png" alt="Screenshot-from-2022-05-16-16-37-34" border="0"></a></p>
<h4 id="escanejar-una-ip-o-rang-dips">Escanejar una IP o rang d’IPs</h4>
<p>Hem d’anar a l’apartat “Scans” a la pestanya “Tasks” allà clicant un
cuadradet amb una estrella a dalt a l’esquerra podem definir una tasca
d’escaneig per posar en marxa posteriorment.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/pR7mYhv/Screenshot-from-2022-05-16-16-49-14.png" alt="Screenshot-from-2022-05-16-16-49-14" border="0"></a></p>
<p>Definim el “Target” configurat anteriorment per atacar i escollim
l’escàner que hem creat en el moment de l’instal·lació.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/RD0j5W1/Screenshot-from-2022-05-16-16-51-51.png" alt="Screenshot-from-2022-05-16-16-51-51" border="0"></a></p>
<p><a name="item5"></a> ## DDNS ### Què és DDNS? La nomenclatura “DDNS”
o “DynDNS” fa referència a Dynamic Domain Name System (sistema dinàmic
de noms de domini), serveix per a assignar un nom de domini a una xarxa
domestica (o no) on la IP pública pot canviar. Cal registrar-se en un
servei DDNS amb un nom que estigui lliure com per
exemple(exemple.albert.com). Gràcies a ell la teva xarxa sempre estarà
disponible encara que no coneguis la seva adreça IP publica
actual.<br />
També es molt útil per no haver de consultar les IP publiques dinàmiques
de maquines en el cloud com podria ser una instancia AWS.</p>
<h3 id="com-implementar-ddns-a-la-teva-xarxa">Com implementar DDNS a la
teva xarxa</h3>
<p>Hi ha diversos proveïdors de DDNS, nosaltres per exemple farem servir
“No-IP”, aquest ens dona l’opció de registrar un domini gratuït sempre i
quan el nom acabi en “ddns.net”. El primer que hem de fer és crear-nos
un compte en el proveïdor que ens interessi i registrar el nom de domini
que desitgem. Com per exemple:</p>
<p><a href="https://ibb.co/QfVNvCW"><img src="https://i.ibb.co/c19FhCW/Screenshot-from-2022-05-14-13-19-59.png" alt="Screenshot-from-2022-05-14-13-19-59" border="0"></a></p>
<p>Un cop enregistrat el domini, hem de configurar el Router de casa
nostra perquè vagi informant de la IP publica que té en tot moment cada
cop que hi hagi un canvi. Per això, hem d’entrar al portal de
configuració del router i buscar l’apartat de DDNS o DynDNS i introduir
les credencials del proveïdor i el nom de host.</p>
<p><a href="https://ibb.co/smsHMnZ"><img src="https://i.ibb.co/2ncNfxT/Screenshot-from-2022-05-14-16-55-48.png" alt="Screenshot-from-2022-05-14-16-55-48" border="0"></a></p>
<p>Fet això, en accedir o fer un ping al domini ja ens ha de dirigir a
la IP pública de la nostra xarxa.</p>
<p><a href="https://ibb.co/zfxS2Pg"><img src="https://i.ibb.co/VB9vCMG/Screenshot-from-2022-05-14-17-25-27.png" alt="Screenshot-from-2022-05-14-17-25-27" border="0"></a></p>
<h4 id="què-passa-si-no-vull-o-puc-configurar-ho-al-router">Què passa si
no vull o puc configurar-ho al router?</h4>
<p>Existeix un client que es pot instal·lar a una maquina de la xarxa
que faci la mateixa funció, anar informant de la IP publica i si aquesta
canvia. S’ha de tenir en compte que ha de ser una maquina que sempre
estigui encesa, sinó la IP publica podria canviar i no ens
assabentaríem. Si ho volem fer així doncs hem de descarregar el fitxer
“noip-duc-linux.tar.gz” que hi ha en aquest mateix repositori i fer les
següents comandes:</p>
<blockquote>
<p>(guardar el fitxer descarregat al directori /usr/local/src)</p>
</blockquote>
<blockquote>
<p>cd /usr/local/src<br />
tar xzf noip-duc-linux.tar.gz<br />
cd no-ip-2.1.9<br />
make<br />
make install<br />
/usr/local/bin/noip2 -C</p>
</blockquote>
<p>-Se’ns demanarà el nom d’usuari i contrasenya de noip i el nom de
host que volem actualitzar.</p>
<p>-Per iniciar el client: &gt;/usr/local/bin/noip2</p>
<h3
id="utilitzar-ddns-per-a-accedir-a-dispositius-de-la-teva-xarxa-dmznat">Utilitzar
DDNS per a accedir a dispositius de la teva xarxa (DMZ/NAT)</h3>
<p>Per començar, primer de tot ens hem d’assegurar que la nostra IP
pública no és compartida, ja que degut a l’escassetat d’adreces IP
públiques IPv4, algunes de les companyies proveïdores de serveis
d’internet fan servir protocols com “CGNAT” o “Dual-Stack Lite” per
englobar diversos clients en una sola IP. Cal assegurar-se, doncs, que
no som a dins d’una d’aquestes tecnologies, en cas de ser-hi, hem de
demanar a la nostra companyia que ens proporcioni una IP pública pròpia,
servei que de moment totes les operadores ofereixen de forma gratuïta
quan ho sol·licites.</p>
<p>Un cop comprovat això, tenim dues opcions a la configuració del
router, la primera, configurar una DMZ per exposar tots els ports d’un
ordinador en concret a internet.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/XVyKHWN/Screenshot-from-2022-05-14-19-36-59.png" alt="Screenshot-from-2022-05-14-19-36-59" border="0"></a></p>
<p>També es podrien configurar unes regles NAT per exposar uns ports
definits d’una o més maquines concretes a internet. Aquesta opció també
ens permet exposar un port extern diferent a l’intern, de manera que,
per exemple, podríem configurar que per accedir al servidor SSH de forma
externa utilitzem el 50000 però en realitat utilitzem el 22.</p>
<p><a href="https://imgbb.com/"><img src="https://i.ibb.co/1Q8N374/Screenshot-from-2022-05-14-19-38-21.png" alt="Screenshot-from-2022-05-14-19-38-21" border="0"></a></p>
<p>En aquest cas hem redirigit el port 22 extern al 22 intern per
accedir via SSH de forma més fàcil.</p>
<p><a href="https://ibb.co/Q6S3VGC"><img src="https://i.ibb.co/qRq38wW/Screenshot-from-2022-05-14-19-46-57.png" alt="Screenshot-from-2022-05-14-19-46-57" border="0"></a></p>
<p>S’ha de tenir en compte que els dos mètodes necessiten que apliquem
IP estàtiques a les màquines que volem exposar, ja que les regles
s’apliquen a través de les IP de les maquines.</p>
<p><a name="item6"></a> ## Conclusions</p>
<p>En quant a seguretat de xarxa, puc dir que és pràcticament impossible
garantir la seguretat completa al 100%. Sempre que hi hagi accés a
internet hi ha riscos. També podem tenir el propi intrús dins de
l’empresa, per això en el que s’ha de treballar es en reduir aquests
riscos.</p>
<p>Cal dir que sempre que obrim ports del router a internet estem
posant-nos en risc, per tant potser DDNS no és la opció més segura. Hi
ha alternatives com “tailscale” que és una VPN que ens permetria accedir
a la nostre xarxa a través dels seus servidors.</p>
<p>En quant a OPENVAS està molt bé per detectar algunes vulnerabilitats
greus que haguem pogut passar per alt. Però està clar que sempre hi
haurà actualitzacions i noves vulnerabilitats que després s’acabaran
arreglant.</p>
<p>Finalment sobre el servidor RADIUS cal dir que és un molt bon mètode
per autenticar-se al accedir a una xarxa, tot i que ara hi ha altre
maneres d’accedir, portals d’accés etc. RADIUS segueix sent una molt
bona opció fàcil de configurar i implementar en una empresa.</p>
<p><a name="item7"></a> ## Bibliografia</p>
<ul>
<li><p>https://www.lpi.org/our-certifications/exam-303-objectives#network-security</p></li>
<li><p>https://kifarunix.com/install-gvm-21-04-on-debian-11-debian-10/</p></li>
<li><p>https://www.redeszone.net/tutoriales/servidores/que-es-servidor-radius-funcionamiento/</p></li>
<li><p>https://blog.alcancelibre.org/staticpages/index.php/como-freeradius-basico</p></li>
<li><p>https://imgbb.com/</p></li>
<li><p>https://www.linuxteaching.com/article/setup_freeradius_authentication_with_openldap</p></li>
<li><p>https://www.cloudflare.com/es-es/plans/#overview</p></li>
<li><p>https://tailscale.com/pricing/</p></li>
</ul>
